body{
  background-color: #FF3C3C;
}

/* Aligning p5.js canvas in HTML file shttps://stackoverflow.com/questions/28003634/center-align-a-javascript-script-on-a-html-page */
canvas{
  margin: 0 auto;
  display: block;
}

.heartRules{
  position: absolute;
  padding: 10px;
  width: 50px;
  height: 60px;
  left:20%;
  top:10%;
}

.heartBreak{
  position: absolute;
  padding: 10px;
  width: 50px;
  height: 60px;
  left:20%;
  top:10%;
  }
