body{
  background-color: #FF3C3C;
}

/* Aligning p5.js canvas in HTML file shttps://stackoverflow.com/questions/28003634/center-align-a-javascript-script-on-a-html-page */
canvas{
  margin: 0 auto;
  display: block;
}

.heart{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  width: 1000px;
  height: 2000px;
  left:20%;
  top:10%;
}

.heart{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 8px;
  width: 580px;
  height: 380px;
  left:20%;
  top:10%;
  }

  .heart:hover{
    display: none;
    position: absolute;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    padding: 8px;
    width: 680px;
    height: 580px;
    left:20%;
    top:10%;

  }
