body{
  background-color: #FF3C3C;
}

/* Aligning p5.js canvas in HTML file shttps://stackoverflow.com/questions/28003634/center-align-a-javascript-script-on-a-html-page */
canvas{
  margin: 0 auto;
  display: block;
}

.heart{
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
  width: 580px;
  height: 380px;
  left:20%;
  bottom:2%;
}

.heart{
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
  width: 580px;
  height: 380px;
  left:20%;
  bottom:2%;
  }

  .heart:hover{
    display: none;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    padding: 10px;
    width: 580px;
    height: 380px;
    left:20%;
    bottom:2%;

  }
