/*dropMenu Code from https://www.youtube.com/watch?v=zUeG6VgdKSc&ab_channel=InventionTricks*/

*,*:after,*:before{
	box-sizing: border-box;  /*code from site*/
}

body{
	background-color: white;
}

.dropdownMenu{
	align-items: center;
	max-width: 200px;
	margin: 110px auto;
	font-family: sans-serif;
	font-size: 16px;
	margin-left: 38%;
	min-height: 150vh;
}
.dropdownMenu select{
	width: 200%;
}

.dropdownMenu button{
	background-color:turquoise ;
	padding: 15px 25px;
	color: white;
	font-size: 20px;
}

.title h1 {
	text-align: center;
	margin-top: 150px;
	font-size: 40px;
	font-family: sans-serif;
}

