body {
	background-color: powderblue;
}

h1 {
	text-align: center;
	font-family: Avantgarde, sans-serif;
	color: white;
}


/*thank you fei for the head code. could not get it for the life of me*/
.oval {
	background-color: #C68863;
	position: absolute;
	width:  450px;
	height: 525px;
	border-radius: 40%;
	top: 16%;
	left: 16%;
}


.glass{
	position: absolute;
	padding: 50px;
	left: 13%;
	width: 350px;
	height: 200px;
	
}

.glass: hover{
	display: none;
	position: absolute;
	padding: 50px;
	left: 13%;
	width: 350px;
	height: 200px;
}

.mouth{
	position: absolute;
	padding: 150px;
	left: 8%;
	width:350px;
	height:300px;	
}

.mouth:hover{
	display: none;
	position: absolute;
	padding: 150px;
	left: 8%;
	width:350px;
	height:300px;
}


</style>



