body {
	background-color: powderblue;
	font-family: Avantgarde, sans-serif;
}

h1 {
	text-align: center;
	font-family: Avantgarde, sans-serif;
	color: white;
}

.face{

}

<style>
.mouth{
	padding: 20px;
	position: absolute;
}
</style>
<img src="smiley-mouth.jpg" alt="mouth" style="width:50px" class="mouth">

.glasses{

}


